body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

a {
    color: black;
}

img {
    margin-top: 5%;
    height: 10em;
}

nav {
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 10px;
    margin: 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    padding: 20px 0;
}

section {
    margin: 20px 0;
    padding: 20px 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

h2 {
    font-size: 24px;
}

h3 {
    margin-top: 10px;
    font-size: 20px;
}

p {
    text-align: justify;
}

footer {
    color: rgb(44, 42, 42);
    text-align: center;
}

.footer {
    text-align: center;
}

.portafolio {
    color: blueviolet;
}