body {
    font-family: "Raleway", sans-serif;
  }
  
  /* Hero Section */
  .name{
    font-weight: bold;
  }
  #Hero-Section {
    background-image: url("../img/codigo.jpeg");
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
  
  }
  
  /* Proyectos */
  
  #Mis-trabajos .image-top {
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .coffee {
    width: 75%;
    text-align: center;
    margin-left: 7%;
  }
  
  /* Contacto */
  
  #Contacto form label {
    font-weight: 700;
    color: #373a3c;
  }
  
  @media (max-width: 768px) {
    #Contacto form label {
      font-weight: 400;
    }
  
    .navbar-brand{
      width: 100px;
    }
  
  }
  